@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

body,
h1,
p {
    margin: 0;
    padding: 0;
}

/* Style the top navigation bar */
.top-navbar {
    background-color: #4C367E;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    padding-left: 20px;
    font-family: sans-serif;
}

.top-navbar-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.top-navbar-item i {
    margin-right: 5px;
    color: #ff8b00;
}

.top-navbar-links {
    margin-left: auto;
    display: flex;
}

.top-navbar-links a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
}

.social-icons-box {
    background-color: #ff8b00;
    padding: 10px;
    text-align: center;
}

.social-icon {
    font-size: 18px;
    color: white;
    margin-right: 10px;
}

/* Media query for mobile responsiveness */
/* styles for mobile devices */
/* @media screen and (max-width: 767px) {
    .top-navbar {
        background-color: #4C367E;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        padding-left: 20px;
        font-family: sans-serif;
    }

    .top-navbar-item {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }

    .top-navbar-item i {
        margin-right: 5px;
        color: #ff8b00;
    }

    .top-navbar-links {
        margin-left: auto;
        display: flex;
    }

    .top-navbar-links a {
        margin-right: 20px;
        color: white;
        text-decoration: none;
    }

    .social-icons-box {
        background-color: #ff8b00;
        padding: 10px;
        text-align: center;
    }

    .social-icon {
        font-size: 18px;
        color: white;
        margin-right: 10px;
    }
} */


/* Style the navigation bar */

.navbar-nav .nav-link {
    color: black;
    /* transition: color 0.3s; */

}

.navbar-nav .nav-link:hover {
    color: #17A43B;
}

.navbar-nav .nav-item.active .nav-link {
    color: #17A43B;
    border-bottom: 3px solid #17A43B;
}

.current-tab {
    color: #17A43B !important;
}

/* Style the home content section */

.home-content {
    background: url('./assets/bg1.jpeg') center/cover no-repeat;
    color: white;
    padding: 80px 20px;
    height: 70vh;

}

.home-content-top {
    padding-left: 50px;
}

.home-content h1 {
    font-size: 2em;
    font-weight: bold;
}

.subtext {
    font-size: 0.9em;
}

.colorful-button {
    background: linear-gradient(to right, white 50%, #FF8B00 50%);
    border: none;
    text-align: center;
    padding: 10px 20px;
    border-radius: 100px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 250ms;
    touch-action: manipulation;
}

.options {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.option {
    text-align: center;
}

.option i {
    font-size: 2em;
    margin-bottom: 10px;
}

.floating-button {
    background-color: #17A43B;
    color: white;
    padding: 10px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

/* Style for our services*/
.our-services {
    font-size: 10px;

}

/* Style for info section */
/* Media Query for Small Screens */
/* @media (max-width: 767px) {
    .custom-info-section {
        height: auto;
    }

    .custom-overlay {
        height: auto;
    }

    .custom-container {
        padding: 30px 15px;
    }

    .custom-column {
        width: 100%;
        margin-bottom: 20px;
    }

    .custom-icon {
        font-size: 10px; 
    }

    .custom-number {
        font-size: 5px;
    }

    .custom-label {
        font-size: 5px;
    }
} */

/* Style for top uiversity */
.university-card {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.university-card img {
    width: 100%;
    height: auto;
    border: 2px solid white;
    border-radius: 5px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.overlay p {
    color: white;
    text-align: center;
    margin: 0;
}

.university-card:hover .overlay {
    opacity: 1;
}

/* @media (max-width: 768px) {
    .top-universities .row {
        flex-wrap: nowrap; 
        overflow-x: auto; 
    }

    .top-universities .col-md-3 {
        flex: 0 0 auto; 
        margin-bottom: 15px;
    }

    .university-card img {
        width: 50%;
        height: 50%;
        border: 2px solid white;
        border-radius: 5px;
    }
} */

/* Style for list */
.quick-links ul {
    list-style: none;
    padding: 0;
}

.quick-links li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.quick-links li span {
    margin-right: 5px;
}


/* Footer Section Style*/
footer input[type="text"] {
    width: 50%;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
}


div[style="flex-grow: 1;"] {
    display: flex;
    align-items: center;
}

.quick-links div[style="flex-grow: 1;"] {
    display: flex;
    align-items: center;
    justify-content: center;
}


div[style="display: flex; margin-right: 20px;"] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.subscribe-input-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.subscribe-input-container input {
    width: 100%;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
}

.subscribe-button {
    background-color: #FF8B00;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

/* slide show style*/

#testimonialsCarousel .carousel-indicators li {
    background-color: #FFA500;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    border: 2px solid #FFA500;
    margin-top: 70px; 
}

#testimonialsCarousel .carousel-indicators .active {
    background-color: #FFA500;
    border: 2px solid #FFFFFF;
}

.carousel-inner .item {
    /* display: flex; */
}

.container-item {
    background-color: aqua;
    margin-left: 10px;
    width: 30%;
}

.container-item img {
    width: 50%;
}

.rating {
    color: #fbff00;
}

#testimonialsCarousel {
    margin-top: 50px; 
}

/* */
.service-container {
    position: relative;
    overflow: hidden;
    background-color: white;
    transition: transform 0.3s, background-color 0.3s;
    border-radius: 15px;
}

.service-container:hover {
    background-color: #FF8B00;
    transform: scale(1.1);
    /* transition: background-color 0.3s, transform 0.3s; */
}

.service-content {
    padding: 20px;
}

.box-container {
    border: 2px solid #4C367E;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    transition: transform 0.3s, background-color 0.3s;
}

.box-container:hover {
    background-color: #4C367E;

}

.input-group-custom {
    display: flex;
    margin-left: 10px;
}

.input-group-custom-left {
    flex-grow: 1;
    background-color: white;
    padding: 10px;
    border: 1px solid #4C367E;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
}

.input-group-custom-right {
    background-color: #FF8B00;
    padding: 10px;
    border: 1px solid #4C367E;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.input-group-custom-right:hover {
    background-color: #FFA630;
}

.input-group-custom-icon {
    color: white;
    margin-right: 5px;
}

.input-group-custom input {
    width: 50%;
    border: none;
    outline: none;
    background-color: white;
    color: #4C367E;
}

/* Media Queries for Responsive Design */

/* For screens smaller than 1280px */
@media screen and (max-width: 1280px) {
    .top-navbar-item {
        margin-right: 10px;
    }
    .top-navbar-item i {
        margin-right: 3px;
    }
}

/* For screens smaller than 1020px */
@media screen and (max-width: 1020px) {
    .top-navbar-item {
        display: none; 
    }
    .top-navbar-links {
        display: block; 
        margin-left: auto;
    }
}

/* For screens smaller than 780px */
@media screen and (max-width: 780px) {
    .top-navbar {
        flex-direction: column;
        padding: 8px;
    }
    .top-navbar-item {
        display: block;
        margin: 5px 0;
    }
    .service-container {
        margin-bottom: 30px;
    }
}

/* For screens smaller than 640px */
@media screen and (max-width: 640px) {
    .top-navbar {
        padding: 5px;
    }
    .social-icons-box {
        display: flex;
        justify-content: center;
        padding: 5px;
    }
    .social-icon {
        margin-right: 5px;
    }
}

/* For screens smaller than 1280px */
@media (max-width: 1280px) {
    .col-md-6 {
        flex: 0 0 75%;
        max-width: 100%;
        padding: 15px;
        margin-top: 50px;
        margin-bottom: 20px;
    }
}

/* For screens smaller than 640px */
@media screen and (max-width: 640px) {
    .service-container {
        margin-bottom: 30px;
    }
    .university-card {
        height: 100px;
    }
    .testimonials {
        height: 100vh;
    }
}

@media screen and (max-width: 780px) {
    .info-section {
        height: 830px;
    }
}